# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Better Auth
# Secret used by Better Auth
BETTER_AUTH_SECRET="fwer34t+gds45_egg434t4bt346b4"

# Admin User Seeding (optional)
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="Admin@123"

# User Signup Limits
MAX_USERS="100"

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/cutfast"
